################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SolarPowerPlant/bin/Debug/net8.0
/.vs
/SolarPowerPlant/obj
